# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.venv/

# Build artifacts
*.egg-info/
dist/
build/

# IDE / Editor configs
.vscode/
.idea/

# Streamlit cache
.streamlit/

# Logs
*.log

# System files
.DS_Store
Thumbs.db